@model OgrenciDersTakip.Models.TDers
@{
    ViewData["Title"] = "Ders Sil";
}
<h2>Ders Sil</h2>
<h4>Bu dersi silmek istediğinize emin misiniz?</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">Ders Adı</dt>
        <dd class="col-sm-10">@Model.DersAd</dd>
        <dt class="col-sm-2">Bölüm Adı</dt>
        <dd class="col-sm-10">@Model.Bolum?.BolumAd</dd>

    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="DersID" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a asp-action="Index" class="btn btn-secondary">Geri</a>
    </form>
</div>